 
.afterPurchase { 
	
}
 
.afterPurchase h2{ 
	font-family: Avenir Next Regular !important;
	padding:5px 0px 5px 0px;
}

.navigation li {
    padding: 0 8px !important;
}

.consignerBuyer {
	padding-top: 2px;
    margin-bottom: 20px;
}
.text-lp{
	font-family: 'Didot Regular, Avenir Next Ultra Light';
}
.tiered-commission{ 
	line-height: 25px !important;
}
.final-sign-cosigner{
	width: 170px !important;
	background: #FF6A00 !important;
    padding: 8.5px 0px !important;
    color:#fff !important;
}
.final-sign-shopper{
	width: 170px !important;
	background: #F7E727!important;
    padding: 8.5px 0px !important;
}
footer .cfooter{
	font-size: 14px !important;
	text-align: left; 
 }
footer .cfooter1{
	font-size: 14px !important; 
}
.abt-us{ 
	 max-width:150px; 
	 height: 45px; 
	 padding:0px !important; 
	 position:relative;top:1px; 
	 background-color:white;
	 padding: 0px 0px 28px 0px !important;
}